{% extends "base.html" %}
{% block title%}Home{% endblock%}
{% block content %}

<div class="groove">
    <div class="container">
        <div class="image" style="float: left;">
            <img class="img-responsive" src="{{ url_for('features.send_image', filename=user.profile_picture) }}" width="200">
        </div>
        <div class="text1" style="float: left;">
            <p>First Name: {{ user.first_name }}</p>
            <!-- If user has no middle name then don't show this-->
            {% if user.middle_name %}
                <p>Middle Name: {{ user.middle_name }}</p>
            {% endif %}
            <p>Last Name: {{ user.last_name }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Gender: {{ user.gender }}</p>
            <p>Birthday: {{ user.birthday }} </p>
        </div>
        <div class="text1" style="float: left;">
            <p style="padding: 20px; border-style: inset;">{{ user.bio }}</p>
        </div>
        <p style="clear:both"></p>
    </div>
</div>
<p style="float: left; padding: 10px;"></p>
<button type="button" class="collapsible">Friends</button>
<div class="content">
    <br />
    <input id="filter_friends" type="text" class="form-control" placeholder="SEARCH FRIENDS">
    <div id="user_friends">
        <!--<div class="user_friends"> delete this and move stuff back-->
            <h2 align="center">Friends</h2>
            {% for friend in user.friends_list %}
                <!-- friends created by the user will show up differently in their friend list, so they are easier to distinguish
                    from other users. So far they just have two different shades of green-->
                {% if friend.email is none %}
                    {% set class_type = 'friend_creation' %}
                {% else %}
                    {% set class_type = 'friends' %}
                {% endif %}
                <div class="filter_users">
                <div class="{{ class_type }}">
                    <div class="row">
                        <!-- this has to be in a p tag or else the image disappears when user tries to use search field-->
                        <p style="width: 10%">
                            <!-- bug: when the screen is not full scrren the images will display weirdly in the borders so i removed the borders -->
                            <img style="border-style: inset; width: 100: height: 100%" class="img-responsive" src="{{ url_for('features.send_image', filename=friend.profile_picture) }}">
                        </p>
                        <div class="column">
                            <div class="text1" style="float: left; padding-left: 15px;">
                                <p>
                                    {% set tmp_friend_name = friend.first_name %}
                                    <!-- If user has no middle name then don't show this-->
                                    {% if friend.middle_name %}
                                        {% set tmp_friend_name = tmp_friend_name + ' ' + friend.middle_name %}
                                    {% endif %}
                                    {% set tmp_friend_name = tmp_friend_name + ' ' + friend.last_name %}
                                    {{ tmp_friend_name }}
                                </p>
                                <form action="{{ url_for('features.view_friend_profile', friend_id=friend.id) }}" method="POST">
                                    <button type="submit" class="btn-search">View Friend Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <br />
            {% endfor %}
        <!--</div>-->
    </div>
</div>
<p style="float: left; padding: 10px;"></p>
<button type="button" class="collapsible">Friend Requests</button>
<div class="content">
    <h2 align="center">Friend Requests</h2>
    {% for request in all_requests %}
        {% if (request.request_to_user_id == user.id) or (request.request_from_user_id == user.id) %}
            {% if request.request_to_user_id == user.id %}
                <div class="to_user">
                    <div class="image" style="float: left;">
                        <img class="img-responsive" src="{{ url_for('features.send_image', filename=request.sender_profile_picture) }}" width="150" height="150">
                    </div>
                    <div class="text1" style="float: left;">
                        <p>{{ request.sender_name }}</p>
                        <p>{{ request.date }}</p>
                        <form action="{{ url_for('features.cancel_friend_request', request_id=request.id) }}" method="POST">
                            <button style="float: left;" type="submit" class="btn-search">Decline</button>
                        </form>
                        <p style="float: left; padding: 10px;"></p>
                        <form action="{{ url_for('features.accept_friend_request', request_id=request.id) }}" method="POST">
                            <button style="float: left;" type="submit" class="btn-search">Accept</button>
                        </form>
                    </div>
                    <p style="clear:both"></p>
                </div>
            {% endif %}
            {% if request.request_from_user_id == user.id %}
                <div class="from_user">
                    <div class="image" style="float: left;">
                        <img class="img-responsive" src="{{ url_for('features.send_image', filename=request.receiver_profile_picture) }}" width="150" height="150">
                    </div>
                    <div class="text1" style="float: left;">
                        <p>{{ request.receiver_name }}</p>
                        <p>{{ request.status }}</p>
                        <p>{{ request.date }}</p>
                        <form action="{{ url_for('features.cancel_friend_request', request_id=request.id) }}" method="POST">
                            <button type="submit" class="btn-search">Cancel</button>
                        </form>
                    </div>
                    <p style="clear:both"></p>
                </div>
            {% endif %}
        {% endif %}
        <br />
    {% endfor %}
</div>
<p style="float: left; padding: 10px;"></p>
<button type="button" class="collapsible">Posts</button>
<div class="content">
    <br />
    <h2 align="center">Posts</h2>
    {% for post in user.posts|reverse %}
        <div class="groove" style="background-color: {{ post.color }}">
            <div class="row">
                <div class="column">
                    <!-- this div is for formatting the dots next to the image -->
                    <div style="float: left;">
                        <!-- this will separate the dots next to each post's images -->
                        {% set tmp_dot = 'dot ' + (post.id|string) %}
                        {% for image in post.post_images %}
                            <div style="text-align:center">
                                <span class="{{ tmp_dot }}" onclick="currentSlide({{ loop.index }}, {{ post.id|safe }})"></span>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- this will separate the posts images for the javascript functions -->
                    {% set tmp_class = 'post_images' + (post.id|string) %}
                    <div class="slideshow-container" style="float: left;">
                        <!-- this is code for arrows that will go to the next post image. Not working properly -->
                        <!--<a class="next" onclick="plusSlides({{ loop.index|safe }}, 1, {{ post.id|safe }})">❯</a>-->
                        {% if (post.post_images|length) != 0 %}
                        <!-- this div is here so that if no images in the post then image border is not displayed -->
                            <div class="image">
                                {% for image in post.post_images %}
                                    <div class="{{ tmp_class }}">
                                        <div class="numbertext">{{ loop.index }} / {{ post.post_images|length }}</div>
                                        <img class="img-responsive" src="{{ url_for('features.send_image', filename=image) }}" style="width: 200px">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!--<a class="prev" onclick="plusSlides({{ loop.index|safe }}, -1, {{ post.id|safe }})">❮</a>-->
                    </div>
                </div>
                <div class="column">
                    <!-- this div is for formatting the post's text -->
                    <div class="text3">
                        <b>{{ post.title }}</b>
                        <p>{{ post.text }}</p>
                        <!-- if there are no tagged friend then the length is zero, so != 0 then display tagged friends -->
                        {% if post.friends_tagged|length != 0 %}
                            <p class="tag_friend_search">Tagged Friends:
                                <!-- loop through the tagged friends of the post to display them -->
                                {% for tagged_friend in post.friends_tagged %}
                                <!-- the if statement checks if we are on the last iteration of the loop so a period can be printed -->
                                    {% set tmp_friend_name = tagged_friend.first_name %}
                                    {% if tagged_friend.middle_name %}
                                        {% set tmp_friend_name = tmp_friend_name + ' ' + tagged_friend.middle_name %}
                                    {% endif %}
                                    {% if loop.index == post.friends_tagged|length %}
                                        {% set tmp_friend_name = tmp_friend_name + ' ' + tagged_friend.last_name + '.' %}
                                    {% else %}
                                        {% set tmp_friend_name = tmp_friend_name + ' ' + tagged_friend.last_name + ',' %}
                                    {% endif %}
                                    {{ tmp_friend_name }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        <form action="{{ url_for('features.edit_post', post_id=post.id) }}" method="GET">
                            <button style="float: left;" class="btn-search" type="submit">Edit</button>
                        </form>
                        <p style="float: left; padding: 10px;"></p>
                        <form action="{{ url_for('features.delete_post', post_id=post.id) }}" method="POST">
                            <button style="float: left;" class="btn-search" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text1">
                <p align="right">Who can see post: <i>{{ post.post_privacy }}</i></p>
                <!-- will cut off the seconds -->
                {% set tmp_time = (post.date|string)[:16] %}
                <p align="right">{{ tmp_time }}</p>
            </div>
        </div>
        <br />
    {% endfor %}
</div>

<!-- there is a bug that will not display the images correctly when the home page is loaded, so I have this body tag
      with an onload function that takes a list of all the user's post id's. Then, it calls the loadSlides function
      which loops over all the posts and calls the showSlides function which then fixes this bug. I think the bug is
      occurring because I don't pass any id's in the slides function the first time it is called, so it probably isn't
      affecting the slides(HAS BEEN EDITED NOW THIS IS THE FIRST TIME THIS FUNCTION IS CALLED). calling it in the onload
       function sets the index of all the post's images to 1 -->
{% set lst = [] %}
{% for post in user.posts %}
    <!-- I cannot include any posts with zero images because that will break the js function and any posts with images
        after a plain text post will not have their images display properly. We exclude the text only posts id from
        the lst passed to the js function -->
    {% if (post.post_images|length) != 0 %}
        <p hidden>{{ lst.append(post.id) }}</p>
    {% endif %}
{% endfor %}
<p style="float: left; padding: 10px;"></p>
<button type="button" class="collapsible">Tagged Posts</button>
<div class="content">
<!-- this section is to display all posts where the current user is tagged in -->
<h2 align="center">Tagged posts</h2>
{% for friend in list_of_user_friends %}
    {% for post in friend.posts|reverse %}
        <!-- First if check statement: looking for posts that the current user is tagged in -->
        <!-- seconf if check statement: just makes sure that the post privacy is either "Friends Only" or "Everyone" -->
        {% if (user in post.friends_tagged) and ((post.post_privacy == "Friends Only") or (post.post_privacy == "Everyone")) %}
            <!-- I cannot include any posts with zero images because that will break the js function and any posts with images
                after a plain text post will not have their images display properly. We exclude the text only posts id from
                the lst passed to the js function -->
            {% if (post.post_images|length) != 0 %}
                <p hidden>{{ lst.append(post.id) }}</p>
            {% endif %}
            <div class="groove" style="background-color: {{ post.color }}">
                <!-- split the images and text as a row -->
                <div class="row">
                    <!-- column for the image's html -->
                    <div class="column">
                        <!-- this div is for formatting the dots next to the image -->
                        <div style="float: left;">
                            <!-- this will separate the dots next to each post's images -->
                            {% set tmp_dot = 'dot ' + (post.id|string) %}
                            {% for image in post.post_images %}
                                <div style="text-align:center">
                                    <span class="{{ tmp_dot }}" onclick="currentSlide({{ loop.index }}, {{ post.id|safe }})"></span>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- this will separate the posts images for the javascript functions -->
                        {% set tmp_class = 'post_images' + (post.id|string) %}
                        <div class="slideshow-container" style="float: left;">
                            <!-- this is code for arrows that will go to the next post image. Not working properly -->
                            <!--<a class="next" onclick="plusSlides({{ loop.index|safe }}, 1, {{ post.id|safe }})">❯</a>-->
                            {% if (post.post_images|length) != 0 %}
                                <div class="image">
                                    {% for image in post.post_images %}
                                        <div class="{{ tmp_class }}">
                                            <div class="numbertext">{{ loop.index }} / {{ post.post_images|length }}</div>
                                            <img class="img-responsive" src="{{ url_for('features.send_image', filename=image) }}" style="width: 200px">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <!--<a class="prev" onclick="plusSlides({{ loop.index|safe }}, -1, {{ post.id|safe }})">❮</a>-->
                        </div>
                    </div>
                    <div class="column">
                        <!-- this div is for formatting the post's text -->
                        <div class="text3" style="float: left;">
                            <b>{{ post.title }}</b>
                            <p>{{ post.text }}</p>
                            <!-- if there are no tagged friend then the length is zero, so != 0 then display tagged friends -->
                            {% if post.friends_tagged|length != 0 %}
                                <p>Tagged Friends:
                                    <!-- loop through the tagged friends of the post to display them -->
                                    {% for tagged_friend in post.friends_tagged %}
                                    <!-- the if statement checks if we are on the last iteration of the loop so a period can be printed -->
                                        <i class="search_this">{% if loop.index == post.friends_tagged|length %}
                                            {{ tagged_friend.first_name }}
                                            <!-- If user has no middle name then don't show this-->
                                            {% if tagged_friend.middle_name %}
                                                {{ tagged_friend.middle_name }}
                                            {% endif %}
                                            {{ tagged_friend.last_name }}.<!-- period is right here -->
                                            {% else %}
                                            <!-- if we are not at the last item in the list then display a comma -->
                                            {{ tagged_friend.first_name }}
                                            <!-- If user has no middle name then don't show this-->
                                            {% if tagged_friend.middle_name %}
                                                {{ tagged_friend.middle_name }}
                                            {% endif %}
                                            {{ tagged_friend.last_name }},<!-- comma is right here -->
                                            {% endif %}
                                        </i>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <!--<p style="float: left; padding: 10px;">-------------------------------------------------------------------------------------------------------------------------------------------------------------</p>-->
                    <div class="column">
                        <div styel="float: left;">
                            <div class="image" style="float: left;">
                                <img src="{{ url_for('features.send_image', filename=friend.profile_picture) }}" width="85" height="85">
                            </div>
                            <div class="text1" style="float: left;">
                                <p>Post by: {{ friend.first_name }}
                                    <!-- If user has no middle name then don't show this-->
                                    {% if friend.middle_name %}
                                        {{ friend.middle_name }}
                                    {% endif %}
                                        {{ friend.last_name }}
                                </p>
                                <form action="{{ url_for('features.view_friend_profile', friend_id=friend.id) }}" method="POST">
                                    <button type="submit" class="btn-search">View Friend Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text1">
                    <!-- will cut off the seconds -->
                    {% set tmp_time = (post.date|string)[:16] %}
                    <p align="right">{{ tmp_time }}</p>
                </div>
            </div>
            <br />
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<body onload="loadSlides({{ lst|safe }})"></body>
<br />
<br />
<br />
{% endblock %}