{% extends "base.html" %}
{% block title%}Search Friend{% endblock%}
{% block content %}
<!-- The user can add friends from this page. First, they will have to search another user by inputting that user's
     username searching. If any users are found with that username, then they will be displayed on this page for the
     user to send them a friend request or to view their profile. If no users are found with the inputted username,
     then an error message is displayed. -->
<form class="text1" method="POST">
    <p>Enter your Friend's username</p>
    <input  type="text"
            name="username"
            id="searchBar"
            placeholder="Search Friend">
    <button type="submit" class="btn-search">Search</button>
</form>
<br />
{% if friend %}
    <div class="text1">
        <div class="groove" align="left">
            <div class="row">
                <div class="column">
                    <div class="image">
                        <img class="img-responsive" src="{{ url_for('features.send_image', filename=friend.profile_picture) }}" width="100">
                    </div>
                </div>
                <div class="column">
                    <p>First Name: {{ friend.first_name }}</p>
                    <!-- If user has no middle name then don't show this-->
                    {% if friend.middle_name %}
                        <p>Middle Name: {{ friend.middle_name }}</p>
                    {% endif %}
                    <p>Last Name: {{ friend.last_name }}</p>
                    <p>Username: {{ friend.username }}</p>
                    <p>Gender: {{ friend.gender }}</p>
                    <p>Birthday: {{ friend.birthday }} </p>
                    <div class="column">
                    <form action="{{ url_for('features.send_friend_request', user_id=friend.id) }}" method="POST">
                        <button type="submit" class="btn-search">Add Friend</button>
                    </form>
                    </div>
                    <div class="column">
                    <form action="{{ url_for('features.view_friend_profile', friend_id=friend.id) }}" method="POST">
                        <button type="submit" class="btn-view-profile">View Profile</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}